/*Syntax for CSS:

	selector {
		property: value;
	}

*/
 
/* Universal Selector */
* {
font-family: "Roboto", sans-serif;
}

/* Type/Tag Selector */
h1, p {
	font-family: "Montserrat", sans-serif;
	color: #FFFFFF;
}

/* ID Selector */
#profile {
	height: 220px;
	width: 220px;
	border-radius: 150px;
}

body {
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='407' height='48.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

footer {
	background-color: black;
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px;
	border-radius: 0px;

}

.fa-z, .fa-facebook, .fa-x-twitter, .fa-tiktok, .fa-youtube, .fa-instagram{
	font-size: 25px;
	color: white;
	margin: 0 10px 0 10px;
}

.fa-z:hover, .fa-facebook:hover, .fa-x-twitter:hover, .fa-tiktok:hover, .fa-youtube:hover, .fa-instagram:hover {
	color: gray;
}

#landing {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}